spring:
  application:
    name: payment-gateway
  datasource:
    url: jdbc:postgresql://localhost:5434/payment_gateway_db
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  sql:
    init:
      mode: always

server:
  port: 8081

logging:
  level:
    com.sneakerstore.paymentgateway: DEBUG